body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
}

.square {
	width: 30%;
	background: purple;
	padding-bottom: 30%;
	float: left;
	margin: 1.66%;
	border-radius: 20%;
	transition: background 0.6s; /* add fading effect*/
	-webkit-transition: background 0.6s; /*for web browser combatibility*/
	-moz-transition: background 0.6s; /*for web browser combatibility*/
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

#container p {
	text-align: center;
	margin: 10px;
	color: #fff;
}

#container p span {
	text-transform: uppercase;
	color: RGB(237, 142, 61);
}

h1 {
	color: white;
	text-align: center;
	line-height: 1.1;
	padding: 20px 0;
	font-weight: normal;
	background-color: steelblue;
	margin: 0;
	text-transform: uppercase;
}

#colorDisplay {
	font-size: 200%;
}

#message{
	display: inline-block;
	width: 20%;
}

#stripe {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

button {
	border: none;
	background: none;
	height: 100%;
	text-transform: uppercase;
	font-weight: 700;
	color: steelblue;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.3s; /* add fading effect*/
	-webkit-transition: background 0.6s; /*for web browser combatibility*/
	-moz-transition: background 0.6s; /*for web browser combatibility*/
	outline: none;
}

button:hover, .selected{
	color: white;
	background-color: steelblue;
}

#message {
	transition: baclground 0.3s;
}





